@mixin transition($transition, $duration) {
  -moz-transition:    $transition, $duration;
  -o-transition:      $transition, $duration;
  -webkit-transition: $transition, $duration;
  transition:         $transition, $duration;
}

.add-note {
  width: 33px;
  height: 33px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  border-radius: 5px;
  opacity: 0.6;
  @include transition(all, 0.25s);
}

.add-note:hover {
  opacity: 1;
}


