$full-height: 100vh;

.board{
  height: $full-height;
  background: #666;

  .column{
    height: $full-height;
  }
  
  .react-draggable{
    position: absolute;
  }

  .interaction-ui-holder{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
  }
}

