$full-height: 100vh;

.board{
  height: $full-height;
  background: #666;
  overflow: hidden;


  .column{
    height: $full-height;
  }
  
  .react-draggable{
    position: absolute;
    z-index: 2;
  }

  .react-draggable:hover{
    z-index: 6;
  }

  .react-draggable-dragging{
    z-index: 3;
  }

  .interaction-ui-holder{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
  }

  > .react-draggable{
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -130px;
    position: fixed;
    transform: translate(0, 0)!important;
  }
}

.priority-high{
  background: #f8cdcd;
}

.priority-normal{
  background: #ccf;
}

.priority-low{
  background: #cfc;
}

