$full-height: 100vh;

.board{
  height: $full-height;
  background: rebeccapurple;

  .column{
    height: $full-height;
  }

  .priority-high{
    background: red;
  }

  .priority-normal{
    background: blue;
  }

  .priority-low{
    background: green;
  }
}

