@mixin transform($transforms){
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin rotate($deg){
  @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale){
  @include transform(scale($scale));
}

@mixin box-shadow($top, $left, $blur, $color){
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

.note{
  display:inline-block;
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
  color:#000;
  background:#ffc;
  height:9em;
  width:9em;
  padding:0.5em;
  @include rotate(4);
  @include box-shadow(5px, 5px, 7px, rgba(33,33,33,0.7));
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
  -ms-transition:-ms-transform .15s linear;
  position: relative;


  h2{
    text-align:center;
    margin-top:0;
    font-weight:bold;
  }

  .date-holder{
      position: absolute;
      bottom: 12px;
  }

  .button-holder{
    position: absolute;
    right: 10px;
    bottom: 10px;

    button {
      opacity:0;
      margin: 3px;
    }
  }
}

.note.editing,
.note:hover{
  @include box-shadow(7px, 7px, 7px, rgba(0,0,0,.7));
  @include scale(1.15);
  z-index:5;

  .title{
    margin-bottom: 10px;
  }

  .radio-holder{
    text-align: center;
  }

  input[type=date]{
    width: 75%;
  }

  textarea{
    height: 44%;
  }

  .title, textarea{
    background: rgba(255, 255, 255, .5);
    font-size: 20px;
  }

  label{
    font-size: 20px;
  }

  .button-holder button {
      opacity:1
  }
}

.note.editing{
  button{
    margin-left: 5px;
    border-right:4px;
  }

  .input-group{
    input{
      border-radius:4px;
    }

    button{
      margin-left:5px;
      border-radius:4px;
    }
  }
}

.note.priority-high{  
  background: #f8cdcd;
}

.note.priority-normal{
  background: #ccf;  
}

.note.priority-low{
  background: #cfc;
}

